.container{
    min-height: 100vh;
    position: relative;
}
.image {
    width: 70px;
    object-fit: cover;
    
}
.showproduct{
    display: flex;
    p{
        margin-left: 10px;
        align-self: center;
    }
}