@import '../styles/_variable.scss';


.container {
    height: $hei-header;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: black !important;

        &:hover {
            color: black !important;

        }
    }

    .input {
        width: 400px;
        border-radius: 20px;

    }

    .right {
        display: flex;

        .icon {
            margin: 0 30px;
            cursor: pointer;

            svg {
                height: 100%;
                width: 30px !important;
            }
        }
    }

    h2 {
        margin: 0 !important;
    }

    .search {
        position: relative;
    }

    .showSearch {
        position: absolute;
        width: 100%;
        z-index: 50;
        background-color: #fff;
        padding: 0 10px;
        margin-top: 5px;
        
    }
   
}